

body {
    font-family: Open Sans;
    height: 100vh;
    overflow: hidden;
    background-image: url(web-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fde9ee !important;
}
/*loader styles*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    overflow: hidden;
    background-image: url(loader.jpg);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fde9ee;
}

.loaded #loader-wrapper {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

    .loaded #loader-wrapper #loader, .loaded #loader-wrapper #loader .card, .loaded #loader-wrapper #loader::before, .loaded #loader-wrapper #loader::after {
        opacity: 0;
        background-color: transparent;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    /*end loadder styles*/
.blue-color {
    background-color: #429ebf;
}
.pink-color {
    background-color: #ff87a0;
}
.mainbox {
  position: relative;
  width: 500px;
  height: 500px;
}
.mainbox .arrow {
    position: absolute;
    top: 45%;
    left: 51%;
    width: 75px;
    height: 48px;
    overflow:hidden;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    z-index: 999;
}
.box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid #949090;
  overflow: hidden;
  transition: all ease-in-out 5s;
  transform: rotate(90deg);
}

span {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
}

.span1 {
  clip-path: polygon(0 17%, 0 50%, 50% 50%);
}

.span2 {
  clip-path: polygon(0 17%, 30% 0, 50% 50%);
}

.span3 {
  clip-path: polygon(30% 0, 71% 0, 50% 50%);
}

.span4 {
  clip-path: polygon(71% 0, 100% 18%, 50% 50%);
}

.span5 {
  clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
}


.box2 {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.font {
  color: white;
  font-size: 20px;
}

.box1 .span1 b {
  position: absolute;
  top: 39%;
  right: 75%;
  transform: rotate(200deg);
  text-align: center;
}

.box1 .span2 b {
  position: absolute;
  top: 25%;
  right: 65%;
  transform: rotate(-130deg);
}

.box1 .span3 b {
  position: absolute;
  top: 20%;
  right: 50%;
  transform: rotate(-90deg);
}

.box1 .span4 b {
  position: absolute;
  top: 25%;
  right: 30%;
  transform: rotate(-45deg);
}

.box1 .span5 b {
  position: absolute;
  top: 39%;
  right: 24%;
  transform: rotate(-15deg);
  text-align: center;
}

.box2 .span1 b {
  position: absolute;
  top: 39%;
  right: 74%;
  transform: rotate(200deg);
}

.box2 .span2 b {
  position: absolute;
  top: 26%;
  right: 66%;
  transform: rotate(-130deg);
  text-align: center;
}

.box2 .span3 b {
  position: absolute;
  top: 20%;
  right: 50%;
  transform: rotate(270deg);
}

.box2 .span4 b {
  position: absolute;
  top: 26%;
  right: 32%;
  transform: rotate(310deg);
}

.box2 .span5 b {
  position: absolute;
  top: 37%;
  right: 22%;
  transform: rotate(-20deg);
  text-align: center;
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #429ebf;
  background-color: #ff87a0;
  color: #fff;
  box-shadow: 0 5px 20px #000;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}

.spin:active {
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.mainbox.animate:after {
  animation: animateArrow 0.7s ease infinite;
}
.swal-overlay--show-modal .swal-modal {
    border-bottom: 4px solid #429ebf;
    border-top: 20px solid #ff87a0;
}
.modal-content {
    border-bottom: 4px solid #429ebf !important;
    border-top: 20px solid #ff87a0 !important;
}
audio {
    display: none;
}

@keyframes animateArrow {
  50% {
    right: -50px;
  }
}
/*emoji styles*/
.swal-modal {
    padding-left: 10%;
}
.emoji_01 {
    background-image: url(imgs/01.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: left;
}
.emoji_02 {
    background-image: url(imgs/02.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: left;
}
.emoji_03 {
    background-image: url(imgs/03.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: left;
}

.emoji_04 {
    background-image: url(imgs/04.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: left;
}

.emoji_05 {
    background-image: url(imgs/05.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: left;
}

.emoji_06 {
    background-image: url(imgs/06.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: left;

.emoji_07 {
    background-image: url(imgs/07.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: left;
}
.emoji_08 {
    background-image: url(imgs/08.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: left;
}
.emoji_09 {
    background-image: url(imgs/09.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: left;
}
.emoji_10 {
    background-image: url(imgs/10.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: left;
}
@media (max-width: 576px) {
    body {
        background-image:url(mobile-bg.png);
        background-size: 75%;
        background-position: bottom;
    }
  .mainbox {
    width: 300px;
    height: 300px;
  }
    .mainbox .arrow {
        top: 42%;
        left: 51%;
    }
    #loader-wrapper {
        background-size: 80%;
    }
    .swal-modal {
        padding-left: 35% !important;
    }
}
